<h3>All Users</h3>

<ul>
    <% @users.each do |u|%>
        <li>
            <%= link_to cl_image_tag(u.photo_url), user_path(u) %>
            <%= link_to u.name, user_path(u) %>
        </li>
    <% end%>
</ul>