<div class="index-header">    
    <h2>All Users</h2>
</div>
<div class="user-index">
    <ul>
        <% @users.each do |u|%>
            <li class="user-list">
                <div class="index-img">
                    <%= link_to cl_image_tag(u.photo_url), user_path(u) %>
                </div>
                <div class="index-name">
                    <%= link_to u.name, user_path(u) %> (<%= u.suburb %>, <%= u.city %>) 
                </div>
                <hr>
            </li>
        <% end%>
    </ul>
</div>