
.vl {
    display: inline-block;
    border-left: 2px solid rgb(255, 255, 255);
    height: 500px;
    position: absolute;
    left: 50%;
    top: 82vh;
}
.img-wrapper {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: chocolate 2px solid;
    margin-top: 20px;
}
.img-wrapper img {
    width: auto;
    height: 100%;
    margin-left: -70px;
}

.user-container {
    position: relative;
    text-align: center;
}

.admin-controls {
    text-align: center;
    position: relative;
    top: 40vh;
}

.cafe-reviews {
    display: inline-block;
    width: 48vw;
    text-align: center;
    margin: auto;
}

.roaster-reviews {
    display: inline-block;
    width: 48vw;
    text-align: center;
    margin: auto;
}

h4 {
    text-decoration: underline;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

.user-index li {
    list-style-type: none;
    text-align: center;
}
.index-img {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    border: chocolate 2px solid;
    margin-top: 20px;
}
.index-img img {
    width: auto;
    height: 100%;
    margin-left: -20px;
}

.index-name {
    position: relative;
    
}